* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    margin: 0;
}

#product-overview {
    background-image: url("../media/images/freedom.jpg");
    background-origin: border-box;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 33vh;
    margin-top: 2.75rem;
    position: relative;

    -moz-background-clip: border-box;
    -moz-background-origin: border-box;
    -webkit-background-clip: border-box;
    -webkit-background-origin: border-box;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', 'sans-serif';
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan:hover,
.plan:focus,
.plan:active,
.plan:focus {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.88);
    outline: none;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan__highlighted {
    background: #19b84c;   
    color: white;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.49);
    border-radius: 6px;
}
.plan__highlighted:focus, 
.plan__highlighted:active, 
.plan__highlighted:visited
{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.999);
    outline: none;
    transition-delay: 300ms;
    transition: all .5s ease;
    } 
.plan__annotation {
    background: white;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    display: inline-block;
    padding: 0.25rem 0.5rem;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color:#858585;

}
.plan__highlighted .plan__price {
    color:#0e4f1f;
}

.plan__highlighted:hover .plan__price {
    color:black;
    background-color: yellow;
    border-radius: 6px;
    box-shadow: 2px 2px 12px 2px rgba(2, 2, 2, 0.88);
    transition: all 500ms ease;
    transition-delay: 300ms;
    display: inline;    
    padding: 0.25rem 0.5rem;
}

.plan__highlighted:hover {
    background: white;   
    color: #032e11;
    transition: all 500ms ease;
    transition-delay: 300ms;
}

.plan__highlighted:hover .button {
    color: yellow;
    transition: all 500ms ease;
    transition-delay: 600ms;    
}

.plan__highlighted:hover .plan__annotation {
    background:#19b84c;
    color: white;
    transition: all 500ms ease;
    transition-delay: 300ms;
}


.plan__features {
    list-style: none; 
    margin: 0;
    padding: 0;  
}

.plan_feature {
    margin: 15px 0px ;
}



#key-features {
    background: #ff1b68;
    margin: 6px 0px;
}
#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 22%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}
.key-features__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    padding: 1.25rem;
    stroke: black;
    stroke-width: 4px;
}
/* #key-features li {
    display: inline-block;
    text-align:center;
    margin: 0px 5px;
} */


.h3 {
    padding: 0.25rem;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.here_is_additional_secion {
    color: none;
}

div>span>p {
    color: blue;
}

div>ul {
    background: #6671cf;
    padding: 0.25rem;
    margin: 2px;
}

.orderList {
    width: 20%;
}