
:root {
    --header-height: 3.1rem;
    --footer-height: 90px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Montserrat;
    margin: 0;
    height: 100%;
}

main {
    margin-top: 2.75rem;
    /* height: 100vh; */
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.87);
    filter: opacity(67%);
    z-index: 100;
}

.main-header {
    width: 100%;
    background: #2ddf5c; 
    padding: 8px 16px;  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: var(--header-height);
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
}

.main-header__brand img {
    height: 100%;
    width: 30px;
    filter: invert(69%) sepia(89%) saturate(437%) hue-rotate(74deg) brightness(92%) contrast(89%);
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    margin-top:-0.4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    display: none;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}



.main-nav {
    /* display: inline-block; */
    float: right;
    width: calc (100% - 122px );
    vertical-align: middle;
    z-index: 101;
    }

.main-nav__items  {
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: inline-block;
}
.main-nav__item {
    display: inline-block;
    margin: 3px 16px;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0px;
    font-size: 1.5rem;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 7px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
    border-radius: 0.5rem;
    transition-delay: 600ms;
    transition: .75s all}


.main-footer {
    background: black;
    margin-top: 48px;
    padding: 32px;
    height: var(--footer-height);
}

.main-footer__links {
    list-style: none;
    text-align:center; 
    margin: 0px;
    padding: 0px;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;

}

.main-footer__link a{
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    cursor: pointer;
    color:yellowgreen;
    background-color: black;
    text-decoration: underline ;
    transition-delay: 600ms;
    transition: .75s all
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    width: 80%;
}

@media (max-width: 40rem) {
    .main-nav {
        display: none;
    }
    .toggle-button {
        display: inline-block;
    }
    .main-header__brand {
        display: none;
    }
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.button {
    background: #0e4f1f;
    color: white;
    font:inherit;
    font-weight: bold;
    border: 5px soli #0e4f1f;
    padding: 0.5rem;
    border-radius: 9px;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
    transition-delay: 600ms;
    transition: .75s all
}
.button:focus {
    outline: none;
    transition-delay: 600ms;
    transition: .75s all
}

.open {
    display: block !important;
}

li {
    list-style-type: none;
}