body {
    font-family: Montserrat;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    height: 528px;
}

h1 {
    color: white;
    font-family: 'Inconsolata', monospace;
}

.section-title {
    color: #2ddf5c;
}

.here_is_additional_secion {
    color: none;
}

div>span>p {
    color: blue;
}