* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    margin: 0;
}

#product-overview {
    background: url("big_merino.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 528px ;   
    padding: 10px;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', 'sans-serif';
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan__highlighted {
    background: #19b84c;   
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.849);
    border-radius: 6px;
}
.plan__annotation {
    background: white;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.849);
    border-radius: 6px;
}

.plan__title {
    color: #0e4f1f
}

.plan__price {
    color:#858585;

}
.plan__highlighted .plan__price {
    color:white;
}
.plan__features {
    list-style: none; 
    margin: 0;
    padding: 0;  
}

.plan_feature {
    margin: 15px 0px ;
}

.button {
    background: #0e4f1f;
    color: white;
    font:inherit;
    font-weight: bold;
    border: 5px soli #0e4f1f;
    padding: 8px;
    border-radius: 9px;
    cursor: pointer;
}

#key-features {
    background: #ff1b68;
    margin: 6px 0px;
}
#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.key-features__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 75%;
    margin: auto;
}
/* #key-features li {
    display: inline-block;
    text-align:center;
    margin: 0px 5px;
} */

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}
.button:focus {
    outline: none;
}

.h3 {
    padding: 3px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.here_is_additional_secion {
    color: none;
}

div>span>p {
    color: blue;
}

div>ul {
    background: #6671cf;
    padding: 4px;
    margin: 2px;
}

.orderList {
    width: 20%;
}

.main-header {
    width: 100%;
    background: #2ddf5c; 
    padding: 8px 16px;   
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc (100% - 74px );
    vertical-align: middle;
}

.main-nav__items  {
    padding: 0%;
    margin: 0%;
    list-style: none;
}
.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 7px solid white;
}

.main-nav__item-cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active {
    color: #ff1b68;
    background: white;
    border: none;}


.main-footer {
    background: black;
    margin-top: 48px;
    padding: 32px;
    
}

.main-footer__links {
    list-style: none;
    text-align:center; 
    margin: 0px;
    padding: 0px;

}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;

}

.main-footer__link a{
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    cursor: pointer;
    color: #ccc;
    text-decoration: underline ;
}